@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* Override Prism theme background to match our editor */
pre[class*="language-"],
code[class*="language-"] {
  background: transparent !important;
  text-shadow: none !important;
}
